.nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* @media only screen and (max-width: 693px) {
  .nav {
    justify-content: end;
    padding-right: 64px;
  }
}
@media only screen and (max-width: 450px) {
  .nav {
    padding-right: 0;
  }
} */

.active {
  color: #d84343;
}

.link {
  padding: 16px;
  transition:
    color 250ms ease-in,
    text-decoration 250ms ease-in;
}
.link:hover {
  color: #ffc531;
  text-decoration: overline;
}
