@import "modern-normalize/modern-normalize.css";

body {
  margin-right: calc(25px - var(--scrollbar-width, 0px));
  margin-left: 25px;
  color: #121417;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

a {
  color: inherit;
  outline: transparent;
  text-decoration: none;

  cursor: pointer;
  transition: color 250ms ease-in-out;
}
button {
  height: 100%;
  border: transparent;
  background-color: transparent;
  outline: transparent;
}
a:focus,
button:focus {
  border-radius: 5px;
  outline: 1px solid var(--btn-color);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 267px;
  min-height: 60px;
  padding: 16px;
  border: transparent;
  border-radius: 12px;
  background-color: var(--btn-color);
  outline: transparent;
  font-weight: 700;
  font-size: 18px;

  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}
.modalBtn {
  width: 100%;
  height: 60px;
}
.btn:hover,
.btn:focus,
.modalBtn:hover,
.modalBtn:focus {
  background-color: var(--hero-background);
}
@media only screen and (max-width: 345px) {
  .btn {
    width: 94%;
    min-width: unset;
  }
}
.btnBlack {
  /* line-height: 1.25; */
  width: 166px;
  height: 48px;
  padding: 14px 39px;
  background-color: #121417;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.modalTitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.modalP {
  margin-bottom: 40px;
  color: rgba(18, 20, 23, 0.8);
  line-height: 1.375;
}
